.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding-top: 20px;
}

.auth-form__submit-button-container {
  color: var(--white);
  background-color: var(--violet-medium);
  border-radius: 8px;
  margin: 10px;
}

.auth-form__input-container {
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}

.auth-form__input {
  border: 0.5px solid rgb(201, 201, 201);
  border-radius: 5px;
  padding: 5px 10px;
}

.auth-form__submit-button {
  padding: 10px 20px;
}

.auth-form__label {
  margin: 5px;
}
