.entry__area {
  display: flex;
  flex-direction: column;
}

.entry__buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.entry__textarea {
  display: block;
  font-size: 1rem;
  resize: none;
  word-spacing: 2px;
  overflow: auto;
  outline: none;
  border: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;

  resize: none;
  height: inherit;
  width: 100%;
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding: 20px;
  font-family: var(--headline);
  font-weight: 300;
}

.entry__textarea:active {
  border: none;
}

.entry__textarea:focus {
  border: none;
}

.entry__input {
  display: block;
  margin: auto;
  align-self: center;
  font-size: 20px;
}

.entry__input:hover {
  color: var(--violet-dark);
}

.entry__message {
  color: var(--green-dark);
  text-align: center;
}

.entry__message.dark {
  color: var(--green-medium);
}

.entry__error-message {
  text-align: center;
  color: var(--pink-dark);
}

.entry__error-message.dark {
  color: var(--pink-medium);
}

.entry__textarea.dark {
  background: var(--indigo-medium-dark);
}

@media screen and (max-width: 768px) {
  /* .entry__textarea,
  .entry__container {
    width: 60%;
  } */
}

@media screen and (max-width: 600px) {
  /* .entry__textarea,
  .entry__container {
    width: 40%;
  } */

  .entry__buttons-container {
    flex-direction: column;
  }
}

/* ///// */
