.book-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.book {
  transform-style: preserve-3d;
  position: relative;
  height: 400px;
  cursor: pointer;
  backface-visibility: visible;
}

.front,
.back,
.page {
  transform-style: preserve-3d;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  transform-origin: left center;
  transition: transform 0.5s ease-in-out, box-shadow 0.35s ease-in-out;
}

.front,
.back {
  background: var(--violet-medium);
}

.front,
.page {
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.back {
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.page {
  background: #efefef;
}

.book .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book .page {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book .back {
  transform: rotateY(-20deg) scale(1.1);
}
