.button-container {
  color: var(--violet-medium);
  background-color: inherit;
  border-radius: 8px;
  margin: 10px;
  border: 2px solid var(--violet-medium);
  text-align: center;
}

.button-container:hover {
  color: var(--white);
  background-color: var(--violet-medium);
  border: 2px solid var(--violet-medium);
}

.button {
  padding: 10px 25px;
  font-weight: 500;
}

.button-container:active {
  color: var(--beige);
  background-color: inherit;
  border: 2px solid var(--beige);
}

.button-container.dark {
  color: var(--beige-light);
  background-color: inherit;
  border: 2px solid var(--beige-light);
}

.button-container.dark:hover {
  color: var(--indigo-medium-dark);
  background-color: var(--beige-light);
  border: 2px solid var(--beige-light);
}

.button-container.dark:active {
  color: var(--violet-dark);
  background-color: inherit;
  border: 2px solid var(--violet-dark);
}

.button-container.disabled {
  color: var(--white);
  background-color: var(--medium-grey);
  border: 2px solid var(--medium-grey);
}

.button-container.disabled.dark {
  color: var(--indigo-medium-dark);
  background-color: var(--dark-grey);
  border: 2px solid var(--dark-grey);
}

@media screen and (max-width: 500px) {
  .button-container {
    border-radius: 7px;
    margin: 6px;
  }

  .button {
    padding: 8px 15px;
  }
}
