.paper-container {
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 600px;
        margin: 2em auto;
        padding: 50px;
        background: #fff;
        box-shadow: 3px 3px 22px #847b7d19;
        background-image: linear-gradient(
            90deg,
            #fff 12px,
            0,
            #847b7d 15px,
            0,
            #c9bfc1 20px,
            0,
            #fff 100%
        ),
        radial-gradient(circle closest-side, rgba(255, 255, 255, 0) 88%, #fff 100%),
        radial-gradient(circle at 22px 8px, #c9bfc1 40%, #847b7d 40%, #847b7d 100%);
        background-size: 32px 8px, 32px 16px, 32px 16px;
        background-repeat: space no-repeat;
        background-position: center top, center 6px, center 6px;
    }



.paper-container.dark {
    background: var(--indigo-medium-dark);
    /* box-shadow: 4px 4px 0 #595976; */
    background-image: linear-gradient(
        90deg,
        #212844 12px,
        0,
        #595976 15px,
        0,
        #040819 20px,
        0,
        #212844 100%
    ),
    radial-gradient(
        circle closest-side,
        rgba(255, 255, 255, 0) 88%,
        #212844 100%
    ),
    radial-gradient(circle at 22px 8px, #040819 40%, #595976 40%, #595976 100%);
    background-size: 32px 8px, 32px 16px, 32px 16px;
    background-repeat: space no-repeat;
    background-position: center top, center 6px, center 6px;
}