.entry__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entry__area {
  display: flex;
  flex-direction: column;
}

.entry__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top:-150px;
}

.entry__input {
  display: block;
  margin: auto;
  align-self: center;
  font-size: 20px;
}

.entry__input:hover {
  color: var(--violet-dark);
}

.entry__message {
  color: var(--green-dark);
  text-align: center;
  margin: -10px;
}


.form-controls{
  width: 40px;
  display: flex;
  flex-direction: column;
  margin-right:-640px;
}

.controls-button{
  display: flex;
  background-color: var(--beige-medium);
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px #0000001a;
}

.controls-image{
  display: flex;
  background-color: var(--beige-medium);
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px #0000001a;
}

.image-preview {
  display: flex;
  flex-direction: column;
  gap:5px;
}

input[type="file"]{
  display: none;
}

/* darkMode */


.entry__message.dark {
  color: var(--green-medium);
}

.entry__error-message {
  color: var(--pink-dark);
  margin: 10px;
  text-align: center;
}

.entry__error-message.dark {
  color: var(--pink-medium);
}

.entry__buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
