.contact-form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      }
  
  .modal {
    height: 500px;
    width: 500px;
    border-radius: 20px;
    padding-bottom: 20px;
  }
  
  .modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    padding-top: 20px;
    border: 0.5px solid var(--indigo-black);
    border-radius: 20px;
  }
  
  .form__label {
    display: block;
    margin: 0 60px 5px;
    font-weight: bold;
    align-self: flex-start;
  }
  
  .form__input--text,
  .form__input--email,
  .form__input--textarea {
    width: 80%;
    padding: 10px;
    margin: 0 10px 6px;
    border-radius: 5px;
    cursor: text;
    color: var(--indigo-medium-dark);
  }
  
  .form__input--textarea {
    resize: none;
  }
  
  .form__input--text:focus,
  .form__input--email:focus,
  .form__input--textarea:focus {
    outline: none;
  }
  
  .form__input--submit {
    align-self: center;
    padding: 2px 20px;
    margin: 20px 20px;
    padding: 20px 30px;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    transition: 0.4s;
  }
  
  .form__error-message {
    margin: 0;
    color: red;
    font-size: 0.9rem;
  }
  
  .light {
    color: var(--violet-deep-dark);
  }
  
  .dark {
    color: var(--violet-medium);
  }
  
  .dark.form__input {
    box-shadow: none;
  }
  
  .light.form__input--submit {
    color: var(--violet-deep-dark);
    background-color: var(--violet-medium);
  }
  
  .light.form__input--submit:hover {
    color: var(--violet-medium);
    background-color: var(--violet-light);
  }
  
  .dark.form__input--submit {
    color: var(--violet-light);
    background-color: var(--violet-lighter);
  }
  
  .dark.form__input--submit:hover {
    color: var(--violet-lighter);
    background-color: var(--beige-light);
  }
  
  .light .modal__form {
    box-shadow: 0 8px 32px 0 var(--violet-lighter);
  }
  
  .dark .modal__form {
    box-shadow: 0 8px 32px 0 var(--violet-light);
  }
  
  .light .form__input--text,
  .light .form__input--email,
  .light .form__input--textarea {
    border: 2px solid var(--violet-light);
    box-shadow: 0 0 5px var(--violet-lighter);
    color: var(--indigo-black)
  }
  
  .light .form__input--text:focus,
  .light .form__input--email:focus,
  .light .form__input--textarea:focus {
    border: 2px solid var(--violet-medium);
      }
  
  .dark .form__input--text,
  .dark .form__input--email,
  .dark .form__input--textarea {
    border: 2px solid var(--violet-medium);
    color: var(--indigo-black);
  }
  
  .dark .form__input--text:focus,
  .dark .form__input--email:focus,
  .dark .form__input--textarea:focus {
    border: 2px solid var(--violet-light);
  }

  @media screen and (max-width: 500px){
.contact-form__container{
  margin-left: 25px;
  margin-right: 25px;
   }
  
  .form__label{
    font-size: 0.95rem;
    margin: 0 40px 5px;
  }
  
  .form__input--text,
  .form__input--email,
  .form__input--textarea {
    width: 50%;
    padding: 5px;
    margin: 0 5px 3px;
    }
    .modal {
      height: 500px;
      width: 400px;
      border-radius: 20px;
      padding-bottom: 20px;
    }
  }
  