.change-password__form {
  display: flex;
  flex-direction: column;
}

.change-password__error-message {
  font-weight: 500;
  color: var(--pink-dark);
}

.change-password__error-message.dark {
  color: var(--pink-medium);
}

.change-password__success-message {
  font-weight: 500;
  color: var(--green-dark);
}

.change-password__success-message.dark {
  color: var(--green-medium);
}

.change-password__input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.change-password__input-container.dark {
  color: var(--beige-light);
}

.change-password__input {
  border: 0.5px solid rgb(201, 201, 201);
  border-radius: 5px;
  padding: 5px 10px;
}

.change-password__input.dark {
  border: 0.5px solid var(--black);
  background-color: var(--violet-dark);
}

.change-password__label {
  margin: 7px;
}
