.login__form {
  min-height: 200px;
  width: 350px;
  border-radius: 20px;
  padding-bottom: 20px;
}

.login-form__register-text {
  font-size: 0.9rem;
  text-align: center;
}

.login-form__register-link {
  font-weight: 600;
  color: var(--violet-dark);
}

.login-form__register-link.dark {
  color: var(--violet-light);
}

.login-modal__container.dark {
  background-color: var(--indigo-medium-dark);
  border: 1px solid var(--indigo-medium-dark);
  box-shadow: 0 0 60px rgba(99, 105, 111, 0.292);
}

.login-form__reset-password-text {
  font-size: 0.9rem;
  text-align: center;
}

.login-form__reset-password-link {
  font-weight: 600;
  color: var(--violet-dark);
}

.login-form__reset-password-link.dark {
  color: var(--violet-light);
}
