.reset-password__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-password__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
