.home-section_entry {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  background-color: var(--violet-lighter);
  padding: 20px;
  width: 80vw;
  border-radius: 15px;
  position: relative;
}

.home-section_entry.dark {
  background-color: var(--violet-dark);
  color: var(--beige-light);
}

.home-section_entry--text {
  margin: 20px 20px;
  text-align: justify;
  font-size: 1.2rem;
  word-wrap: break-word;
  white-space: normal;
}

.home-section_entry--date {
  margin: 10px;
  font-size: 0.7rem;
}

.home-section_entry--date-updated {
  margin: 0 10px;
  font-size: 0.7rem;
  font-weight: bold;
}

.home-section_entry--icons {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
}

.home-section_entry--delete,
.home-section_entry--edit {
  width: 25px;
  margin: 5px 10px;
}

.entry__delete-icon,
.entry__edit-icon {
  min-height: 20px;
  min-width: 20px;
}

.home-section_entry--date-container {
  display: flex;
  align-items: center;
}

.home-section_entry--content-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.home-section_entry--text-container {
  width: 100%;
}

.home-section__entry-photo--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 20px 30px;
}

.entry-photo {
  border-radius: 15px;
  filter: grayscale(0%);
}
.entry-photo:hover {
    filter: grayscale(100%);
    border: 1px solid var(--violet-dark);
}

@media only screen and (max-width: 768px) {
  .home-section_entry--text {
    padding: 20px 20px;
    text-align: justify;
    font-size: 1rem;
    width: 100%;
  }

  .home-section_entry--date {
    font-size: 0.6rem;
  }

  .home-section_entry--date-updated {
    font-size: 0.6rem;
  }

  .entry__delete-icon,
  .entry__edit-icon {
    height: 15px;
    width: 15px;
  }

  .home-section_entry--text-container {
    width: 100%;
    align-self: center;
  }

  .home-section_entry--content-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  .entry-photo {
    border-radius: 10px;
  }
}
