.modal-header__container {
  position: absolute;
  z-index: 100;
  background-color: var(--white);
  top: var(--header-hight);
  right: 50px;
  border: 1px solid #f4f4f4;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 0 60px #11305121;
}

.modal-header__container.dark {
  background-color: var(--indigo-medium-dark);
  border: 1px solid var(--indigo-medium-dark);
  box-shadow: 0 0 60px #63696f4a;
  color: var(--beige-light);
}

@media screen and (max-width: 992px) {
  .modal-header__container {
    top: calc(var(--header-hight) * 0.8);
    right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .modal-header__container {
    right: 20px;
  }
}

@media screen and (max-width: 400px) {
  .modal-header__container {
    margin: 0 10px;
    right: 0;
    left: 0;
  }
}

@media screen and (max-width: 400px) {
  .modal-header__container {
    margin: auto;
  }
}
