.modal__container {
  position: absolute;
  z-index: 100;
  background-color: var(--white);
  top: var(--header-hight);
  right: 40px;
  border: 1px solid #f4f4f4;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 0 60px #11305121;
}

.modal__container.dark {
  background-color: var(--indigo-medium-dark);
  border: 1px solid var(--indigo-medium-dark);
  box-shadow: 0 0 60px #63696f4a;
  color: var(--beige-light);
}

@media screen and (max-width: 768px) {
  .modal__container {
    top: calc(var(--header-hight) * 0.75);
  }
}
