.user-modal__list-container {
  min-width: 200px;
  margin: 20px;
}

.user-modal__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-modal__list-option {
  margin: 5px 15px;
  padding: 5px 10px;
  border-radius: 5px;
}

.user-modal__list-option:hover {
  background-color: rgba(68, 68, 68, 0.069);
}

.user-modal__list-option.dark:hover {
  background-color: rgba(190, 190, 190, 0.113);
}
