.main__headline-area {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 100px 900px 0px 0px;
  z-index: 2;
}

.main__feather-image {
  margin-bottom: 180px;
  width: 90px;
}

.main__book-image {
  margin-top: 80px;
  width: 200px;
  align-self: center;
}

.main__handwriting {
  font-family: var(--cursive-font);
  font-size: 30px;
  text-align: center;
  color: var(--violet-dark);
}

.main__normal-text {
  color: var(--indigo-medium-dark);
  font-family: var(--sans-serif-font);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 5px;
  justify-self: center;
  text-align: center;
  word-spacing: 5px;
  text-align: justify;
  line-height: 150%;
  margin-top: 20px;
}

.main__strong-text {
  align-self: center;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
  word-spacing: 5px;
  text-align: justify;
  line-height: 150%;
  margin-top: 10px;
}

.main__handwriting.dark {
  color: var(--pink-light);
}

.main__normal-text.dark {
  color: var(--pink-light);
}

.main__strong-text.dark {
  color: var(--violet-dark);
}

.main__paper-area.dark {
  background: var(--indigo-medium-dark);
  /* box-shadow: 4px 4px 0 #595976; */
  background-image: linear-gradient(
      90deg,
      #212844 12px,
      0,
      #595976 15px,
      0,
      #040819 20px,
      0,
      #212844 100%
    ),
    radial-gradient(
      circle closest-side,
      rgba(255, 255, 255, 0) 88%,
      #212844 100%
    ),
    radial-gradient(circle at 22px 8px, #040819 40%, #595976 40%, #595976 100%);
  background-size: 32px 8px, 32px 16px, 32px 16px;
  background-repeat: space no-repeat;
  background-position: center top, center 6px, center 6px;
}
