.welcome__main--container {
  width: 100vw;
  height: 100vh;
  background-image: url("images/main/1.avif");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.welcome__image--container {
  width: 100%;
}

.welcome__headline--container {
  margin-top: 140px;
  position: relative;
  width: 80%;
  transform: scale(1.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__image {
  width: 100%;
}

.welcome__headline--paragraph {
  color: var(--beige-dark);
  margin: -30px auto 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: right;
}

.welcome__headline--button {
  justify-self: right;
}

.welcome__headline--paragraph.dark {
  color: white;
}

@media only screen and (max-width: 414px) {
  .welcome__main--container {
    height: 50vh;
  }

  .welcome__headline--container {
    width: 100%;
    margin-top: 40px;
    position: relative;
    transform: scale(1);
  }
}
