/* containers */

.main__headline-area {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 100px 900px 0px 0px;
  z-index: 2;
}

.main__paper-area {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  margin: 2em auto;
  padding: 50px;
  background: #fff;
  box-shadow: 4px 4px 0 #847b7d3d;
  background-image: linear-gradient(
      90deg,
      #fff 12px,
      0,
      #847b7d 15px,
      0,
      #c9bfc1 20px,
      0,
      #fff 100%
    ),
    radial-gradient(circle closest-side, rgba(255, 255, 255, 0) 88%, #fff 100%),
    radial-gradient(circle at 22px 8px, #c9bfc1 40%, #847b7d 40%, #847b7d 100%);
  background-size: 32px 8px, 32px 16px, 32px 16px;
  background-repeat: space no-repeat;
  background-position: center top, center 6px, center 6px;

  &--alt {
    background-image: linear-gradient(
        90deg,
        #fff 12px,
        0,
        #847b7d 15px,
        0,
        #c9bfc1 20px,
        0,
        #fff 100%
      ),
      radial-gradient(
        circle closest-side,
        rgba(255, 255, 255, 0) 88%,
        #fff 100%
      ),
      radial-gradient(
        circle at 22px 8px,
        #1373a9 40%,
        #00486b 40%,
        #00486b 100%
      );
    background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 21'%3E%3Cpath d='M20 0h-7v6.9a7.5 7.5 0 107 0V0z' fill='%231373A9'/%3E%3Cpath d='M13 0h3v6.9a7.5 7.5 0 002 14 7.5 7.5 0 01-9-7.4c0-2.9 1.6-5.4 4-6.6V0z' fill='%2300486B'/%3E%3C/svg%3E");
    background-size: 2em 1.3125em;
  }
}

/* images */

.main__feather-image {
  margin-bottom: 180px;
  width: 100px;
}

.main__book-image {
  margin-top: 80px;
  width: 200px;
  align-self: center;
}

/* texts */

.main__handwriting {
  font-family: "Satisfy", cursive;
  font-size: 30px;
  text-align: center;
  color: var(--violet-dark);
}

.main__normal-text {
  color: var(--indigo-medium-dark);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 5px;
  justify-self: center;
  text-align: center;
  word-spacing: 5px;
  text-align: justify;
  line-height: 150%;
  margin-top: 20px;
}

.main__strong-text {
  align-self: center;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
  word-spacing: 5px;
  text-align: justify;
  line-height: 150%;
  margin-top: 10px;
}

/* dark mode */

.main__handwriting.dark {
  color: var(--pink-light);
}
.main__normal-text.dark {
  color: var(--pink-light);
}
.main__strong-text.dark {
  color: var(--violet-dark);
}

.main__paper-area.dark {
  background: var(--indigo-medium-dark);
  box-shadow: 4px 4px 0 #595976;
  background-image: linear-gradient(
      90deg,
      #212844 12px,
      0,
      #595976 15px,
      0,
      #040819 20px,
      0,
      #212844 100%
    ),
    radial-gradient(
      circle closest-side,
      rgba(255, 255, 255, 0) 88%,
      #212844 100%
    ),
    radial-gradient(circle at 22px 8px, #040819 40%, #595976 40%, #595976 100%);
  background-size: 32px 8px, 32px 16px, 32px 16px;
  background-repeat: space no-repeat;
  background-position: center top, center 6px, center 6px;
}
