.account__container {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account--button-container--edit {
  position: absolute;
  top: -20px;
  right: 10px;
  width: 30px;
  margin: 10px;
}

.account--button--edit-icon {
  min-height: 15px;
  min-width: 15px;
}

.account__buttons--container {
  display: flex;
  margin: 30px;
}

/* ACCOUNT EDIT FORM ------>*/
.account-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
  width: 400px;
  max-width: 90%;
  border-radius: 8px;
  box-shadow: 0 0 60px #11305121;
  background-color: var(--white);
  border: 1px solid #f4f4f4;
}

.account-modal.dark {
  background-color: var(--indigo-medium-dark);
  border: 1px solid var(--indigo-medium-dark);
  box-shadow: 0 0 60px #63696f4a;
  color: var(--beige-light);
}

.account-modal__form {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account__form--inputs-container {
  display: flex;
  margin: 20px;
  align-items: center;
}

.account__form--label {
  color: var(--beige-dark);
  margin-right: 10px;
}

.account__form--label.dark {
  color: var(--violet-medium);
}

.account__form--input-readonly,
.account__form--input-text {
  background-color: inherit;
  color: var(--violet-dark);
  font-weight: 500;
}

.account__form--input-readonly:focus,
.account__form--input-readonly:active {
  outline: none;
  border: none;
}

.account__form--input {
  background-color: var(--white);
  border-radius: 5px;
  padding: 2px 5px;
}

.account__form--input:focus,
.account__form--input:active {
  outline: none;
  border: none;
}

.account__form--input-readonly.dark,
.account__form--input-text.dark {
  background-color: inherit;
  color: var(--beige-light);
}

.account__form--input.dark {
  background-color: var(--violet-dark);
  color: var(--beige-light);
}

/*<------ ACCOUNT EDIT FORM*/

@media only screen and (max-width: 768px) {
  .account__container {
    width: 70%;
  }
}

@media only screen and (max-width: 414px) {
  .account__container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .account__buttons--container {
    flex-direction: column;
  }

  .account__container {
    font-size: 0.9rem;
  }
}
