:root {
  --white: #ffffff;
  --black: #000000;
  --beige: #c9bfc1;
  --beige-dark: #6c6466;
  --beige-light: #f2efef;
  --violet-light: #c5c5ff;
  --violet-medium: #a4a4f7;
  --violet-dark: #595976;
  --violet-deep-dark: #393958;
  --indigo-medium-dark: #212844;
  --indigo-deep-dark: #060d2a;
  --indigo-black: #040819;
  --pink-light: #eee7e9;
  --pink-medium: #ff9fb3;
  --pink-dark: #cd8090;
  --green-medium: #9bcbc0;
  --green-dark: #62aa9a;
  --medium-grey: #c4c4c4;
  --dark-grey: #939393;

  --monospace-font: "Roboto Mono", monospace;
  --sans-serif-font: Rubik, sans-serif;
  --cursive-font: "Satisfy", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--violet-dark);
  background-color: var(--pink-light);
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: Montserrat, sans-serif;
}

body.dark {
  color: var(--violet-deep-dark);
  background-color: var(--indigo-black);
}
